@import url(../../../app.component.scss);
@import url(../characters.component.scss);

.card-container, .image-buttons, .card-content, .card-reveal { display: flex !important; justify-content: center; align-items: center; }
.card-container {
    padding: 1em;
    .card {
        width: 600px; height: fit-content !important; 
        .card-image {   
            padding-bottom: 0 !important;   
            .ki-stats {
                margin-top: 10px; padding-top: 5px;
                border-top: 1px dashed var(--vampireDark);
                .stats {
                    font-size: 15px; float: none;
                }
                p { 
                    color: var(--vampireDark);
                    display: inline-block; margin-left: 10px; 
                }               
            }            
        }
        .card-content {
            justify-content: center !important; text-align: center;
            .image-buttons, .planet-btn { 
                margin: 5px 0 auto; font-size: 14px;
            }
            .image-buttons { flex-wrap: wrap !important; }
            .image-buttons a, .planet-btn {
                color: var(--platinum);
                padding: 5px 10px; cursor: pointer; transition: .3s;
                border-right: 1px dashed var(--platinum);
                &:hover { color: var(--pastelOrange); }
                &:last-child { border-right: 0; }  
            } 
            /* Origin Planet Button */
            .planet-btn {
                width: 100%; 
                padding-top: 0.5rem; border-top: 1px dashed var(--platinum);
                line-height: 1.5;
                img { 
                    filter: invert(46%) sepia(91%) saturate(1329%) hue-rotate(346deg) brightness(94%) contrast(93%); 
                    margin-bottom: -6px; 
                }               
            }
        }
    }    
}