@import url(../../../app.component.scss);
@import url(../characters.component.scss);

.card-container, .image-buttons, .card-content, .card-reveal { display: flex !important; justify-content: center; align-items: center; }
.card-container {
    padding: 1em;
    .card {
        width: 600px; height: fit-content !important;     
        .card-content {
            justify-content: center !important; text-align: center;
            .ki-stats {
                width: 100%;
                border-bottom: 1px dashed var(--platinum);
                p {
                    width: fit-content; display: inline-block;
                    color: var(--platinum); font-weight: normal; font-size: 14px;
                    margin-left: 10px; border-bottom: 0;
                }               
            }
            .image-buttons, .planet-btn { 
                margin: 5px 0 auto; font-size: 14px;
            }
            .image-buttons { flex-wrap: wrap !important; }
            .image-buttons a, .planet-btn {
                color: var(--platinum);
                padding: 5px 10px; cursor: pointer; transition: .3s;
                &:hover { color: var(--pastelOrange); }
            } 
            /* Origin Planet Button */
            .planet-btn {
                width: 100%; 
                padding-top: 0.5rem; border-top: 1px dashed var(--platinum);
                line-height: 1.5;
                i { color: var(--deepCarrotOrange); }             
            }
        }
    }    
}