<app-header></app-header>

<div class="content">    
    <div class="card">
        <div class="card-image" (click)="redirectToCharacters()">
            <img src="/characters.webp" alt="" style="height: 230px !important;">
        </div>
        <span class="card-title"><i class="fa-solid fa-users"></i> Personajes</span>
    </div>

    <div class="card">
        <div class="card-image" (click)="redirectToPlanets()">
            <img src="/planets.webp" alt="">
        </div>
        <span class="card-title"><i class="fa-solid fa-earth-asia"></i> Planetas</span>
    </div>
</div>